name: Go CI

on:
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - uses: sqlc-dev/setup-sqlc@v3
              with:
                  sqlc-version: "1.30.0"
            - run: sqlc diff
              working-directory: services/app

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: "1.25"

            - name: Cache Go modules
              uses: actions/cache@v3
              with:
                  path: |
                      ~/.cache/go-build
                      ~/go/pkg/mod
                  key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
                  restore-keys: |
                      ${{ runner.os }}-go-

            - name: Verify formatting
              run: |
                  make fmt
                  git diff --exit-code

            - name: Add Go bin to PATH
              run: echo "$HOME/go/bin" >> $GITHUB_PATH

            - name: Install swag
              run: go install github.com/swaggo/swag/cmd/swag@v1.16.6

            - name: Verify Swagger docs
              working-directory: services/app
              run: |
                  swag init -g main.go -o docs
                  git diff --exit-code

            - name: Build
              run: make build

            - name: Test
              run: make test
